.badge-grass {
    background-color: #78C850 !important;
  }
  
.badge-fire {
    background-color: #F08030 !important;
  }
  
.badge-water {
    background-color: #6890F0 !important;
  }

.badge-bug {
    background-color: #A8B820 !important;
  }

.badge-normal {
    background-color: #A8A878 !important;
  }

.badge-poison {
    background-color: #A040A0 !important;
  }

.badge-electric {
    background-color: #F8D030 !important;
  }

.badge-ground {
    background-color: #E0C068 !important;
  }

.badge-fairy {
    background-color: #EE99AC !important;
  }

.badge-fighting {
    background-color: #C03028 !important;
  }

.badge-psychic {
    background-color: #F85888 !important;
  }

.badge-rock {
    background-color: #B8A038 !important;
  }

.badge-ghost {
    background-color: #705898 !important;
  }

.badge-ice {
    background-color: #98D8D8 !important;
  }

.badge-dragon {
    background-color: #7038F8 !important;
  }

.badge-dark {
    background-color: #705848 !important;
  }

.badge-steel {
    background-color: #B8B8D0 !important;
  }

.badge-flying {
    background-color: #A890F0 !important;
  }

.badge-unknown {
    background-color: #68A090 !important;
  }


